{% extends "DaOAuthClientBundle::layout.html.twig" %}

{% trans_default_domain 'DaOAuthClientBundle' %}

{% block content %}
<form action="{{ path('da_oauthclient_proxy_login') }}" method="post">
    <label for="username">{{ 'security.login.username'|trans }}</label>
    <input type="text" id="username" name="_username" required="required" />

    <label for="password">{{ 'security.login.password'|trans }}</label>
    <input type="password" id="password" name="_password" required="required" />

    <input type="checkbox" id="remember_me" name="_remember_me" value="on" />
    <label for="remember_me">{{ 'security.login.remember_me'|trans }}</label>

    <input type="submit" id="_submit" value="{{ 'security.login.submit'|trans }}" />
</form>

{% endblock content %}
